/* You can add global styles to this file, and also import other style files */
/* @import "@angular/material/prebuilt-themes/deeppurple-amber.css"; */
body {
  background-color: white;
  height: 100%;
  margin: 0;
}

footer {
  align-content: center;
}

html {
  height: 100%;
}
