<section class="content">
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="content-child">
      <mat-card-header>
        <mat-card-title>Tech Talks</mat-card-title>
        <mat-card-subtitle>Pelo Tech Talks Team</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayoutAlign="justify">
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
    <p>Teste Página Inicial</p>
  </div>
</section>
